.loader-bg-container {
  height: 85vh;
  width: 95%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-details-error-view-container {
  height: 85vh;
  width: 95%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px 20px 10px;
}

.error-view-image {
  width: 95%;
  max-width: 500px;
}

.product-details-not-found-heading {
  text-align: center;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0px 0px 0px;
  padding: 40px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .product-details-not-found-heading {
    font-size: 22px;
  }
}

.product-item-details-failure-view-button {
  width: 100%;
  max-width: 200px;
  margin: 30px 0px 0px 0px;
  align-self: center;
  padding: 12px 12px 12px 12px;
  color: #ffffff;
  background-color: #0b69ff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .product-item-details-failure-view-button {
    font-size: 17spx;
  }
}

.product-item-details-bg-container {
  min-height: 85vh;
  width: 97%;
  max-width: 1150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 30px 30px 30px;
}

@media screen and (min-width: 1000px) {
  .product-item-details-bg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.product-details-home-image {
  width: 100%;
  max-width: 450px;
  border-radius: 7px;
  margin: 0px 0px 40px 0px;
}

@media screen and (min-width: 1000px) {
  .product-details-home-image {
    margin: 10px 50px 0px 0px;
  }
}

.product-item-details-content-card {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.product-item-details-content-card-heading {
  color: #323f4b;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 15px 0px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .product-item-details-content-card-heading {
    font-size: 23px;
  }
}

.product-item-details-content-card-price {
  color: #000000;
  font-size: 18px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 15px 0px;
  text-align: left;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .product-item-details-content-card-price {
    font-size: 23px;
  }
}

.product-item-details-rating-review-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
}

.product-item-details-rating {
  border: none;
  color: #ffffff;
  background-color: #0b69ff;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 15px 0px 0px;
  border-radius: 8px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .product-item-details-rating {
    font-size: 16px;
  }
}

.rating-icon {
  color: #ffffff;
  height: 18px;
  width: 18px;
}

.product-item-details-reviews {
  color: #323f4b;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .product-item-details-reviews {
    font-size: 18px;
  }
}

.product-item-details-description {
  color: gray;
  font-size: 18px;
  margin: 15px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  text-align: left;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .product-item-details-description {
    font-size: 20px;
  }
}

.product-item-details-span {
  color: gray;
  font-weight: normal;
  font-size: 14px;
  margin: 0px 5px 0px 0px;
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .product-item-details-span {
    font-size: 16px;
  }
}

.product-item-details-availability {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .product-item-details-availability {
    font-size: 18px;
  }
}

.product-item-details-brand {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .product-item-details-brand {
    font-size: 18px;
  }
}

.product-item-details-line-break {
  background-color: #00bfff;
  border: 1px solid #00bfff;
  width: 100%;
  margin: 0px 0px 20px 0px;
}

.quantity-controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
}

.quantity-button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.quantity-icon {
  height: 22px;
  width: 22px;
}

@media screen and (min-width: 768px) {
  .quantity-icon {
    height: 26px;
    width: 26px;
  }
}

.product-quantity {
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 15px 0px 15px;
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .product-quantity {
    font-size: 25px;
  }
}

.add-to-cart-button {
  background-color: #0b69ff;
  border: none;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 12px 15px 12px 15px;
  margin: 0px 0px 0px 0px;
  border-radius: 7px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .add-to-cart-button {
    font-size: 17px;
  }
}

.similar-products-bg-container {
  width: 97%;
  max-width: 1150px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 0px 30px 0px;
  margin: auto;
}

.similar-products-heading {
  width: 97%;
  max-width: 1150px;
  margin: auto;
  color: #000000;
  font-size: 20px;
  text-align: left;
  padding: 30px 0px 30px 25px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .similar-products-heading {
    font-size: 25px;
  }
}
