.products-header-bg-container {
  width: 97%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 30px 12px;
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 576px) {
  .products-header-bg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.products-header-heading {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .products-header-heading {
    font-size: 20px;
    padding: 0px 0px 0px 10px;
  }
}

.products-header-content-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 576px) {
  .products-header-content-card {
    margin: 0px 0px 0px 0px;
  }
}

.sort-by-icon-heading {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

@media screen and (min-width: 768px) {
  .sort-by-icon-heading {
    font-size: 18px;
  }
}

.sort-by-icon {
  height: 22px;
  width: 22px;
  margin: 0px 10px 0px 0px;
}

@media screen and (min-width: 768px) {
  .sort-by-icon {
    height: 25px;
    width: 25px;
  }
}

.sort-by-selector {
  border: 2px solid #0b69ff;
  padding: 7px 10px 7px 10px;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0px 10px 0px 10px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
}

.sort-by-selector:hover {
  background-color: #caf0f8;
}
